:root {
  --color-primary: #0c1e36;
  --color-blue: #192940;
  --color-timberwolf: #cdd0c8;
  --color-accent: #f9cc0b;
}

/* Headline */
#logo {
  width: 3em;
  height: 3em;
  display: flex;
}
#headline {
  color: #cdd0c8;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: flex-end;
  font-family: "Exo 2", sans-serif;
  font-size: 20em;
  display: flex;
}
#headline span {
  color: var(--color-accent);
  padding: 4px;
}
/* Navigation Setup */ /* Navigation Bar */
.menu_wrapper {
  font-family: 'Exo 2', sans-serif;
  background-color: #0000;
  align-items: normal;
  width: auto;
  display: flex;
  font-size: 1.5em;
}
.menu_wrapper .navbar ul {
  flex-direction: row;
  width: 95vw;
  height: 10em;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.menu_wrapper .navbar li {
  margin: 0 10px;
}
.menu_wrapper .navbar li a {
  color: #cdd0c8;
  display: flex;
  padding: 10px;
  text-decoration: none;
  transition: all .3s;
  align-items: center;
  flex-direction: row;
}
.menu_wrapper .navbar li.active a {
  color: var(--color-accent);
  border-bottom: 7px solid var(--color-accent);
  border-radius: 1px;
}
.menu_wrapper .navbar li a:hover {
  color: red;
  transition: .8s ease-in;
}
#plannedMissionsTitle, #currentMissionsTitle{
  text-align: center;
}

/* Body & Background */
body {
  background: rgb(12,30,54);
  background: linear-gradient(0deg, rgba(12,30,54,1) 0%, rgba(58,80,111,1) 4%, rgba(0,0,0,1) 94%);
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  text-align: left;
  height:195vh;
}
.content {
  color: #cdd0c8;
  text-align: left;
  margin: auto;
  padding: 1em;
  font-family: "Exo 2", sans-serif;
  font-size: 2.5em;
}
.content-form {
  color: #cdd0c8;
  display: flex;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

div.content-form{
  border-radius: 5px;
  padding: 20px;
}
.aboutPage{
  color: #cdd0c8;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
  padding: 1em;
  margin: auto;
}
.aboutPage, .attribution {
  color: #cdd0c8;
  margin: auto;
  padding: 1em;
  font-family: "Exo 2", sans-serif;
  font-size: 2.5em;
  text-align: center;
}
.attribution{
  color: #cdd0c8;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
  padding: 1em;
  margin: auto;
}
input[type=text], select{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #f9cc0b;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #f9cc0b;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=message], select{
  width: 150%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #f9cc0b;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  color: #cdd0c8;
  cursor: pointer;
  border: var(--color-accent) 2px solid;
  border-radius: 5px;
  background-color: var(--color-primary);
  justify-content: center;
  width: 25%;
  margin: 8px 10em;
  padding: 19px 30px;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
}
input[type=submit]:hover {
  background-color:snow;
  color: var(--color-primary);
}


/* Submission Inform */
#submission {
  flex-flow: wrap;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#sub-menu{
flex-flow: column;
align-items: center;
font-family: "Exo 2", sans-serif;
font-size: larger;
font-weight: bold;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.content #sub-menu #planet {
  font-family: "Exo 2", sans-serif;
  font-size: 2em;
  text-align: center;
}
fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Results */
#result {
  text-align: center;
  flex-flow: column;
  justify-content: space-around;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}
#result > div {
  width: 15%;
  margin-bottom: 1px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Planet image styling */
.planetImage {
    align-self: center;
    margin-top: 5px;
}
#imgLost {
  position: relative;
  width: 100vw;
  height: 100vh;
}
img {
  height: 3em;
  width: 4em;
  padding: 0.1em;
  border-style: none;
}
ul {
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.satelliteImg {
  position: absolute;
  top: 750px;
  left: 150px;
  transform: rotate(360deg);
  animation: outbound 10s  infinite linear;
}
@keyframes outbound {
  0% {
    top: 750px;
    left: 150px;
  }

  100% {
    top: 750px;
    left: 850px;
    width: 5px;
    height: 1px;
}

}

/* Future Missions Boxing */
li {
  display: flex;
  padding: 0.8em;
  color: #cdd0c8;
  text-align: center;
  font-size: larger;
  text-decoration: none;
  list-style-type: none;
}
.column {
  color: #cdd0c8;
  flex-flow: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Footer */
#footer {
  color: var(--color-timberwolf);
  background-color: var(--color-primary);
  border-top: 1px solid #f9cc0b;
  width: 100%;
  padding: 25px 5px 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  text-align: -webkit-center;
}
/* Responsive */
@media (max-width: 768px) {
  #headline {
    color: #cdd0c8;
    flex-flow: row;
    font-family: "Exo 2", sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#headline span {
  color: var(--color-accent);
  display: flex;
  justify-content: center;
}
  input[type="message"], select {
    box-sizing: border-box;
    border: 1px solid #f9cc0b;
    border-radius: 4px;
    width: 85%;
    margin: 8px 0;
    padding: 12px 20px;
    display: block;
}
input[type="submit"] {
  color: #cdd0c8;
  cursor: pointer;
  border: var(--color-accent) 2px solid;
  border-radius: 5px;
  background-color: var(--color-primary);
  justify-content: center;
  width: 25%;
  margin: 8px 10em;
  padding: 19px 30px;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
}
.navbar {
  background-color: var(--color-primary);
  border-bottom: 2px solid #f9cc0b;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 0.41em;
}
.menu_wrapper{
  background-color: #0000;
  align-items: normal;
  width: auto;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
  display: flex;
}
.menu_wrapper .navbar ul {
  flex-flow: row;
  height: 7em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
}
.menu_wrapper .navbar li a:hover {
  color: red;
  transition: all 0.5s cubic-bezier(0, 0, 0.48, 1.26);
}
.menu_wrapper .navbar li a{
padding: 4px;
text-decoration: none;
transition: all .5s;
}
.menu_wrapper .navbar li.active {
  color: var(--color-accent);
  border-radius: 45px;
  transition-duration: .4s;
  transform: rotate(340deg);
}
.menu_wrapper .navbar li.active a {
  color: red;
  border-bottom: 7px solid var(--color-accent);
  border-radius: 50px;
}
li {
  color: #cdd0c8;
  text-align: center;
  padding: 0.8em;
  font-size: larger;
  text-decoration: none;
  list-style-type: none;
  display: flex;
}
#footer {
  color: var(--color-timberwolf);
  background-color: var(--color-primary);
  border-top: 1px solid #f9cc0b;
  width: 100%;
  padding: 25px 5px 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  text-align: center;
}
}
@media (min-width: 550px) {
    nav > .fa-bars {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  .header {
    font-size: 25%;
    width: 100%;
    position: static;
    height: auto;
    overflow: visible;
  }
  .topbar {
      width: 100%;
      position: static;
      height: auto;
      overflow: visible;
  }
  .content {
      margin-left: 0;
  }
  #footer {
    color: var(--color-timberwolf);
    background-color: var(--color-primary);
    border-top: 1px solid #f9cc0b;
    width: 100%;
    padding: 25px 5px 20px;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    text-align: center;
  }
}
