
/* Variables */
:root {
  --color-primary: #0c1e36;
  --color-blue: #192940;
  --color-timberwolf: #cdd0c8;
  --color-accent: #f9cc0b;
}
html {
  scroll-behavior: smooth;
}

/* Headline */
#logo {
  width: 3em;
  height: 3em;
  display: flex;
}
#headline {
  height: 10dvh;
  background-color:transparent;
  color: #cdd0c8;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  font-size: 5dvw;
  display: flex;
}
#headline span {
  color: var(--color-accent);
  padding: 4px;
}
/* Future Missions Info*/
h2 {
  color: var(--color-accent);
  justify-content: center;
  font-size: 4dvh;
  display: flex;
}
h3 {
  color: var(--color-timberwolf);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.planet h3 {
  text-align: center;
  transition: all .3s;
  display: block;
}
.planet h3:hover {
  color: #cdd0c8;
  transform: scale(1.2);
  padding: .1dvw;
}
h4{
  color: var(--color-accent);
  display: none;
  justify-content: center;
}
.planet:hover h4 {
  display: block;
  text-align: center;
}

/* Navigation */
.menu_wrapper {
  padding: 1dvh;
  border-bottom: 7px solid var(--color-accent);
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.menu_toggle {
  display: flex;
  cursor: pointer;
  color: #fff;
  font-size: 2dvw;
}
.menu {
  display: none;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.menu li {
  margin: 0 10px;
}
.menu a {
  text-decoration: none;
  color: #cdd0c8;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5em;
}
/* Hover over link */
.menu a:hover {
  color: red;
}

/* Body & Background */
body {
  background: linear-gradient(to top, var(--color-blue), black);
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  text-align: left;
}

/* Content */
.content {
  color: #cdd0c8;
  text-align: left;
  margin: auto;
  padding: 1em;
  font-family: "Exo 2", sans-serif;
  font-size: 2.5em;
}
.content-form {
  color: #cdd0c8;
  display: flex;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
div.content-form{
  border-radius: 5px;
  padding: 20px;
}

/* About Page */
.aboutPage{
  color: #cdd0c8;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
  padding: 1em;
  margin: auto;
}
.aboutPage, .attribution {
  color: #cdd0c8;
  text-align: left;
  margin: auto;
  padding: 1em;
  font-family: "Exo 2", sans-serif;
  font-size: 2.5em;
}
.attribution{
  color: #cdd0c8;
  font-family: "Exo 2", sans-serif;
  font-size: 1.5em;
  padding: 1em;
  margin: auto;
}
/* Contact Page*/
input[type=text], select{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #f9cc0b;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #f9cc0b;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=message], select{
  width: 150%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #f9cc0b;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  color: #cdd0c8;
  cursor: pointer;
  border-bottom: var(--color-accent) 4px solid;
  border-top: var(--color-accent) 4px solid;
  background-color: var(--color-primary);
  border-radius: 25px;
  justify-content: center;
  width: 45%;
  margin: 8px 10em;
  padding: 19px 30px;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
}
input[type=submit]:hover {
  background-color:snow;
  color: var(--color-primary);
}

/* Submission Inform */
#submission {
  flex-flow: wrap;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#sub-menu {
  flex-flow: wrap;
  font-family: "Exo 2", sans-serif;
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.content #sub-menu #planet {
  width: 20dvw;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 3dvh;
}
fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Results */
#result {
  text-align: center;
  flex-flow: row;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#result > div {
  flex-flow: column wrap;
  width: 15%;
  margin-bottom: 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Planet image styling */
.planetImage {
    align-self: center;
    margin-top: 5px;
}
img {
  height: 3em;
  width: 4em;
  padding: 0.1em;
  border-style: none;
}
ul {
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
/* Future Missions Boxing */

li{
  display: flex;
  padding: 0.8em;
  color: #cdd0c8;
  text-align: center;
  font-size: larger;
  text-decoration: none;
  list-style-type: none;
}
.row {
  width: 100%;
}
.column {
  flex: 1;
}
/* Hide missions by default */
.planet .mission-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease-out;
}
/* Show missions when the planet is hovered */
.planet:hover .mission-list,
.planet:hover {
  max-height: 500px;
  transition: max-height 1.5s ease-in;
  background-color: transparent
}
.planet .mission-list.active {
  background-color: transparent;
}
.hidden--mobile {
  display: none;
}

/* Planet Page */
.planet-list {
  flex-flow: wrap;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#Mercury, #Venus, #Earth, #Mars, #Jupiter, #Saturn, #Uranus, #Neptune{
  color: #0c1e36;
  border: 2px solid snow;
  flex-flow: column wrap;
  max-width: 200px;
  transition: border-color 1.5s ease-in;
  transition: border-color 2.5s ease-out;
  display: flex;
  flex-direction: column;
}
#Mercury:hover, #Venus:hover, #Earth:hover, #Mars:hover, #Jupiter:hover, #Saturn:hover, #Uranus:hover, #Neptune:hover {
  border-color: var(--color-accent);
  background-color: transparent;
}
  #Mercury{
    background-image: url('./assets/img/mercury.png');
    background-position: center;
  }
  #Venus{
    background-position: center;
    background-image: url('./assets/img/venus.png')
  }
  #Earth {
    background-image: url('./assets/img/earth.png');
    background-position: center;
  }
  #Mars{
    background-image: url('./assets/img/mars.png');
    background-position: center;
  }
  #Jupiter{
    background-image: url('./assets/img/jupiter.png');
    background-position: center;
  }
  #Saturn{
    background-image: url('./assets/img/saturn.png');
    background-position: center;
  }
  #Uranus{
    background-image: url('./assets/img/uranus.png');
    background-position: center;
  }
  #Neptune{
    background-image: url('./assets/img/neptune.png');
    background-position: center;
  }
/* Footer */
footer {
  color: var(--color-timberwolf);
  background-color: rgb(10, 10, 10);
  border-top: 1px solid #f9cc0b;
  width: 100%;
  padding: 25px 5px 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  text-align: -webkit-center;
}
#acbrn {
  width: 30dvw;
  height: 20dvh;
}
/* Responsive */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
