:root {
  --color-primary: #0c1e36ff;
  --color-blue: #192940ff;
  --color-timberwolf: #cdd0c8ff;
  --color-accent: #f9cc0b;
}

/* Headline */
#logo {
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
}

#headline {
  font-family: 'Exo 2', sans-serif;
  color: #cdd0c8ff;
  font-size: 5em;
  display: flex;
  justify-content: center;
}

#headline span {
  color: var(--color-accent);
  padding: 4px;
}

/* Navigation Setup */
.topbar {
  width: 300px;
  height: 100%;
  overflow: auto;
  color: var(--color-timberwolf);
}

.topbar a {
  display: flex;
  color: var(--color-timberwolf);
  padding: 1em;
  text-decoration: none;
}

.topbar a:hover {
  background-color: var(--color-blue);
}

.topbar a.active {
  width: auto;
  background-color: red;
}

/* Navigation Bar */
#nav {
  width: 100%;
  height:auto;
  text-align: center;
  padding: 10px 2px;
  color: var(--color-timberwolf);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-primary);
}

#nav a {
  display: inline;
  font-size: 1.3em;
  font-weight: bold;
  padding: 1em;
  border-style: none;
  text-decoration: none;
}

/* Body & Background */
body {
  background-image: url(background.jpg);
  background-size: cover;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  color: var(--color-timberwolf);
  text-align: left;
}

.content {
  box-sizing: content-box;
  font-size: larger;
  font-family: 'Exo 2', sans-serif;
  color: #cdd0c8ff;
  margin-left: 300px;
  padding: 1em;
}

/* Submission Inform */
#submission {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  font-size: x-large;
}

#sub-menu {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.content #sub-menu #planet {
  font-family: 'Exo 2', sans-serif;
  align-content: center;
  font-size: large;
}

/* Results */
#result {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

#result > div {
  width: 15%;
  margin-bottom: 5px;
  padding: 5px;
}

/* Planet image styling */
.planetImage {
  max-width: 100%;
  height: auto;
  max-height: 100px;
  margin-top: 5px;
}
/* Future Missions Boxing */
* {
box-sizing: border-box;
}
li {
  color:#f9cc0b;
  list-style-type: none;
}
.column{
  color:#cdd0c8ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  padding: 2%;
  padding-left: 10%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 30px 20px 30px;
  color: var(--color-timberwolf);
  background-color: var(--color-primary);
  border-top: 1px solid #f9cc0b;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  #logo {
    padding-left: 5%;
    width: 75%;
    position: static;
    height: auto;
    overflow: visible;
  }

  .header {
    font-size: 25%;
    width: 100%;
    position: static;
    height: auto;
    overflow: visible;
  }

  .topbar {
      width: 100%;
      position: static;
      height: auto;
      overflow: visible;
  }

  .content {
      margin-left: 0;
  }

  #footer {
      position: static;
  }
}
